.inicio{
    
    img{
        width: 100%;
        height: 900px;
        object-fit: cover;
        position: absolute;
    }
    
    .texto {
        width: 100%;
        height: 900px;
        position: relative;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: rgba(5, 5, 5, 0.603);
        .titulos {
            width: 50%;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            h1 {
                font-size: 60px;
            }
            h2 {
                font-size: 55px;
                font-family: 'Dancing Script', cursive;
            }
        }
        .linea{
            width: 2px;
            height: 50%;
            padding: 2px;
            background-color: beige;
        }
        .parrafo{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;
            h2 {
                text-align: center;
                font-size: 25px;
                color: white;
                padding: 5px;
                }
            .finaltext{
                margin-top: 80px;
                font-size: 30px;
                color: black;
            }
        }   
    }
}


//TARJETAASSSS

.tarjetas{
    margin: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 20px;

    div{
        display: flex;
        flex-direction: column;
        gap: 50px;
        text-align: center;
        font-family: 'Teko', sans-serif;

        i{
            font-size: 30px;
            color: black;
        }
        h3{
            font-size: 20px;
        }
    }
}

@media (max-width: 992px) {
    .texto{
        flex-direction: column;

        .titulos{
            padding-top: 100px;
            width: 100%;
            text-align: center;
        }
        .linea{
            display: none;
        }
        .parrafo{
            margin-top: 30px;
            padding-top: 20px;
            border-top: 2px solid white;
        }
    }

/* TARJETAS RESPONSIVE */

    .tarjetas{
        flex-direction: column;
        gap: 50px;
        width: 80%;
        margin: 130px auto;
        padding:  auto;
    }
}


