.nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 40px;
    background-color: bisque;
    border-radius: 60px;
    gap: 40px;
    h2{
        font-size: 45px;
        font-family: 'Dancing Script', cursive;
        color: #D94D1A;;
    }
    
    h3{
        padding: 40px;
        font-family: 'Teko', sans-serif;
        text-align: center;
        font-size: 25px;
    }
}