.opiniones{
    text-align: center;
    h1{
        padding: 50px;
        font-size: 45px;
        font-family: 'Dancing Script', cursive;
        color: #D94D1A;
    }
    .caja-contenedor{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .caja{
            background-color: white;
            margin: 1rem;
            padding: 1rem;
            text-align: center;
            position: relative;
            border: .1rem solid rgba(0, 0, 0, .2);
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
            flex: 1 1 30rem;
            border-radius: 0.5rem;

            .fa-atom{
                position: absolute;
                top: 1rem;
                right: 2rem;
                font-size: 5rem;
                color: var(--limon);
                opacity: 0.3;
            }
            .user{
                .img{
                    border-radius: 50%;
                    object-fit: cover;
                    height: 8rem;
                    width: 8rem;
                    margin-top: 2rem;
                }
                .h3{
                    color: var(--verde);
                    font-size: 2rem;
                }
                .stars{
                    i{
                        color: var(--verde);
                        font-size: 1.5rem;
                        padding: 1rem 0;
                        color: rgb(241, 241, 7);
                    }
                }
            }

            .comentarios{
                color: #666;
                font-size: 1rem;
                padding: 1rem;
            }
        }
    }
}

.botonn{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    a {
        padding: 10px;
        font-size: 18px;
        border-radius: 1rem;
        background-color: cornflowerblue;
        color: white;
    }
}