.servicios {
    display: flex;
    gap: 10px;
    padding: 50px;
    margin-top: 100px;
    justify-content: space-around;
    align-items: start;

    .texto-servicios{
        background-color: bisque;
        border-radius: 30px;

        h2{
            padding: 40px;
            font-family: 'Teko', sans-serif;
            text-align: center;
            font-size: 25px;
        }
    }
    .imagen-servicio{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 75px;

        h2{
            font-size: 45px;
            font-family: 'Dancing Script', cursive;
            color: #D94D1A;
        }
    }
    
}

/* Responsivee */

@media (max-width: 992px) {
    .servicios{
        flex-direction: column-reverse;
        gap: 50px;
        padding: auto;

        .texto-servicios{
            width: 100%;
            margin: auto;
            padding: auto;
        }

        .imagen-servicio{
            flex-direction: row;
            img{
                width: 50%;
            }
            h2{
                width: 50%;
                padding: auto;
                margin: auto;
            }
        }
    }
}